@charset "utf-8";
/* CSS Document */


body {

}


h1{
	font-family: 'Satisfy', cursive;
	color: green;
	font-size: 70px;
}

h2{
	color: green;
	font-size: 25px;
}

h4{
	color: red;
	font-family: 'Satisfy', cursive;
	font-size: 30px;
	margin-bottom: -15px;
}

.title{
	float: right;
	margin: -70px 460px 0 0;
}

input[type=text], [type=tel], [type=number], [type=password], select, textarea {

}

input[type=submit] {
	color:green;
}

#footer{
	color:green;
}

#vouchers h3{
	font-size: 20px;
}
#vouchers p{
	font-size: 16px;
}

#contact h3{
	font-size: 20px;
}
#contact p{
	font-size: 16px;
}

legend, label {
	font-style:oblique;
}

