@charset "utf-8";
/* CSS Document */

@import url('CSS/typography.css');


* {
    box-sizing: border-box;
}

body {
	background-color: #ABA7A7;
	background-image: url('CSS/gfx/lines.svg');
}

#header{
	margin-top:20px;
    background-color: black;
    padding: 20px;
}

#footer{
	margin-top:20px;
    background-color: black;
    padding: 20px;
	min-height: 130px;
}

h1{
	float:right;
	margin-right: 10px;
	margin-top: 3%;
}

h4{
	margin-right: 10px;
	margin-top: -10px;
	margin-bottom: 10px;
}

input[type=text], [type=tel], [type=number], [type=password], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
	border-radius: 10px;
	opacity: .7;
}

input[type=submit] {
    background-color: red;
	margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: yellow;
}

label, legend {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
	display:block;
	overflow:hidden;
	width:1024px;
	margin:auto;
	margin-top: 0;
	padding-top:0;
	padding-bottom:20px;
}


.fielset-bg {
    margin-top: 20px;
	border-radius: 20px;
	border: 0;
	padding: 20px;
	background-color: grey;
	background-image: url('CSS/gfx/lines.svg');
}

fieldset{
	background-color: ghostwhite;
	opacity: .7;
	border-radius: 10px;
	margin-right: 38px;
    border: 1px solid #ccc;
}
.col-20 {
    float: left;
    width: 20%;
}

.col-80 {
    float: left;
    width: 80%;
    margin-top: 6px;
}

.row {
	margin-top: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.logo{
	width:231px;
	height: 235px; 
}
.icon{
	width:30px;
	height: 28px;
	margin-right: 10px;
	margin-top: -10px;
}

.card{
	width: 100px;
	height: 60px;
}

.pselection{
	float:left;
	padding-top: -20px;
	margin-left: 100px;
	color: red;
}

.add{
	float:right;
	margin-top: -80px;
	margin-right: 45px;
}

.voucher{
	width: 60px;
	height: 80px;
}


#vouchers{
	margin-left: 70px;
	margin-top: -20px;
}

#vouchers h3{
	margin-left: 70px;
	margin-top: -70px;
}
#vouchers p{
	margin-left: 70px;
}

#contact{
 float: right;
	margin-right: 100px;
	margin-top: -100px;
}



p span {
    display: block;
}


